.letter {
    color: black;
    width: 40px;
    display:inline-block;
    font-size: 40pt;
    text-align: center;
}

.invisible {
    visibility: hidden;
}

.underline {
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}

.unguessed {
    color: red;
}

#word {
    white-space: nowrap;
    padding-bottom: 10px;
}